.main-body{
    height: 600px;
    width: 50%;
    margin-top: 20px;
    margin-left: 25%;
    margin-right: 25%;
    background-color: #ffd;
    border: 2px solid #555;
}

/* messages */

.messages-list{
    overflow: auto;
    height: 85%;
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
}

.my-message{
    max-width: 60%;
    width: 100%;
    word-break: break-all;
    text-align: right;
    float: right;
}

.user-message{
    max-width: 70%;
    width: 100%;
    word-break: break-all;
    text-align: left;
    float: left;
}

.message-username{
    font-weight: 600;
    color: #555;
}

.my-text, .user-text{
    width: fit-content;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 8px;
    border-radius: 15px;
    color: #000;
}

.my-text{
    float: right;
}

/* input */

.input input{
    margin-right: 15px;
    margin-left: 15px;
    padding: 12px;
    width: 80%;
}

.input button{
    padding: 13px;
    width: 10%;
    border: none;
    border-radius: 8px;

    background-color: #f55;
    color: #ddd;
}

/* responsive */

@media (max-width: 1200px) {
    .input input{
        width: 68%;
    }
    .input button{
        width: 12%;
    }
}